POLKADOT_RPC_URL=wss://polkadot.api.onfinality.io/public-ws
POLL_INTERVAL_SECONDS=60
LOGS_DIR=logs
DATA_DIR=data

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_FROM=your-email@gmail.com
EMAIL_PASSWORD=breu giku lcke dwgr
EMAIL_TO=devops@company.com