# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Environment
.env
.env.*

# Logs and data
logs/*
!logs/.gitkeep

data/*
!data/.gitkeep

db/*
!db/.gitkeep

# OS
.DS_Store
